<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0px">
	<tbody>
    	<tr>
    		<td align="center" valign="top">
        	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(94,246,209)">
        	<tbody>
        		<tr>
        			<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    				<tbody>
            			<tr>
                		<td valign="top" style="padding:0px">
                    		<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                        	<tbody>
                        		<tr>
                            		<td valign="top" style="padding:0px;text-align:center">
                            		<img align="center" alt="" src="https://ci6.googleusercontent.com/proxy/4delo59JemKUVz8KPrHhc6BYw-Zxnge_dmxstvQbEPYoOPpZTqyTDopn0hjqbBDQvqDSg5epAlmFZouLEUJ97HELfbe5Jsn6GHwDCnCi5jiajaZG9mMMXUyAeRH6vkwULE9gubfmlXo7YqEr59_zvhZgNsi9l7dUoiebQcQ=s0-d-e1-ft#https://gallery.mailchimp.com/d0e4d0e3c2da1fe32a5d81607/images/56e5d8a3-0e90-4059-8696-21637bc6371e.png" width="600" style="max-width:800px;padding-bottom:0px;vertical-align:bottom;border:0px;outline:none;text-decoration:none;display:inline!important">
                            		</td>
                        		</tr>
                    		</tbody>
                    		</table>
                		</td>
            			</tr>
    				</tbody>
					</table></td>
				</tr>
        	</tbody></table>
      		</td>
		</tr>
   		<tr>
    		<td align="center" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">
			<tbody>
				<tr>
					<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    				<tbody>
            			<tr>
            				<td valign="top" style="padding:9px">
            				<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                			<tbody>
                				<tr>
                					<td valign="top" style="padding:0px 9px;text-align:center">
                        			<img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/IE7qQOHAlaf-FUn5paBr1TscE-3QbQk6ntbsNFHCo6wKTtTykdEVAWg5fZpIimQa1oC_Dp-SK3-PeDuXWgeyfe8_By8iVjdIRcSmlJYAT14RZaOYXt6msRmfHdLM5ddXjlPWnpNelVBthpDEMEVBpJ_kdd85aJhtuu8b5Cg=s0-d-e1-ft#https://gallery.mailchimp.com/d0e4d0e3c2da1fe32a5d81607/images/857f3a52-fd9a-4d91-9738-e2581a7d89f5.png" width="564" style="max-width:700px;padding-bottom:0px;vertical-align:bottom;border:0px;outline:none;text-decoration:none;display:inline!important">
                    				</td>
								</tr>
                			</tbody>
                			</table>
            				</td>
            			</tr>
    				</tbody>
					</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    				<tbody>
    					<tr>
            				<td valign="top">
            					<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
            					<tbody>
            						<tr>
                					<td valign="top" style="padding:9px 18px;color:rgb(0,0,0);font-family:Helvetica;font-size:12px;line-height:22.5px;text-align:left">
                					<span style="font-family:arial,'helvetica neue',helvetica,sans-serif">
                					Hi <%= @first_name %>!
                					<br><br>
									Your order is confirmed!  We'll email you a shipping confirmation as soon as your order is on its way.
									<br><br>
									Happy Mobile Shopping!
									<br>
									The Dote Team</span>
									<br>
                					</td>
                					</tr>
            					</tbody></table>
           		 			</td>
        				</tr>
    				</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    				<tbody>
            			<tr>
                			<td valign="top" style="padding:9px">
                    		<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                        		<tbody>
                        			<tr>
                            			<td valign="top" style="padding:0px 9px;text-align:center">
                            			<img align="center" alt="" src=<%= @store_image_url %> style="max-width:322px;padding-bottom:0px;vertical-align:bottom;border:0px;outline:none;text-decoration:none;display:inline!important">
                            			</td>
                       		 		</tr>
                    			</tbody>
                    		</table>
                			</td>
            			</tr>
    				</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    				<tbody>
        				<tr>
            				<td valign="top">
                			<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    		<tbody>
                    			<tr>
                        		<td style="padding:9px 18px">
                        		<table border="0" cellpadding="18" cellspacing="0" width="100%" style="border:1px solid rgb(255,255,255);border-collapse:collapse;background-color:rgb(245,245,245)">
                                <tbody><tr>
                                    <td valign="top" style="color:rgb(0,0,0);font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:20.7999992370605px;text-align:center">
                                        <div style="text-align:center">
                                        	<strong>ORDER #</strong><%= @order_number %><br><br>
											<strong>SHIPPED TO</strong><br>
											<%= @full_name %><br>
											<%= @street_address %><br>
											<%= @street_address_2 %><br><br>
											<strong>BILLED TO</strong><br>
											<%= @payment_method %></span><br>
										</div>
									</td>
                                </tr>
                            	</tbody></table>
                        		</td>
                    		</tr>
                		</tbody></table>
	            		</td>
        			</tr>
    			</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    			<tbody>
        			<tr>
            			<td valign="top" style="padding:9px">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
   						<tbody>
    						<tr>
       	 						<td valign="top" style="padding:0px 5px">
            					<table align="left" border="0" cellpadding="20" cellspacing="0" style="border-collapse:collapse">
            					<tbody>
            						<% @items.each do |item_dict| %>
            						<tr>
                						<td valign="top">
                    					<img alt="" src=<%= item_dict[:item_image_url] %> width="100" style="max-width:100px;border:0px;outline:none;text-decoration:none;vertical-align:bottom">
										</td>
                						<td valign="top" style="color:rgb(96,96,96);font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                						<span style="color:rgb(0,0,0);line-height:20.7999992370605px">
                    					<span style="font-size:13px">
                    					<strong><%= item_dict[:item_name] %></strong></span>
                    					<br>
										<!-- Color: <%= item_dict[:item_color] %><br> -->
										Size: <%= item_dict[:item_size] %><br>
										Price: <%= item_dict[:item_amount] %>
										<% if item_dict[:original_amount].present? %>
										 (was <%= item_dict[:original_amount]%>)
										<% end %>
										</span>
                    					</td>
                					</tr>
                					<% end %>
            					</tbody></table>
        						</td>
    						</tr>
						</tbody></table>
            			</td>
        			</tr>
    			</tbody>
				</table>
			</td>
		</tr>
	</tbody></table>
	</td>
	</tr>
	<tr>
		<td align="center" valign="top">
    	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">
        	<tbody>
        		<tr>
            		<td align="left" valign="top" width="50%">
            		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody>
                    	<tr>
                        </tr>
                    </tbody>
                    </table>
                    </td>
                    <td align="left" valign="top" width="50%">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody>
                    	<tr>
                        	<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    						<tbody>
        						<tr>
            						<td valign="top">
                					<table align="left" border="0" cellpadding="0" cellspacing="0" width="132" style="border-collapse:collapse">
                    					<tbody>
                    						<tr>
                        						<td valign="top" style="padding:9px 0px 9px 18px;color:rgb(96,96,96);font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                        						<span style="font-size:13px"><span style="font-family:arial,'helvetica neue',helvetica,sans-serif"><span style="color:rgb(0,0,0)">
                        							Subtotal<br>
													Shipping<br>
													Tax<br>
													<strong>Total</strong></span></span></span>
                        						</td>
                    						</tr>
                						</tbody>
                					</table>
               						<table align="right" border="0" cellpadding="0" cellspacing="0" width="132" style="border-collapse:collapse">
                    					<tbody>
                    						<tr>
		                        				<td valign="top" style="padding:9px 18px 9px 0px;color:rgb(96,96,96);font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                        						<div style="text-align:right"><span style="font-size:13px"><span style="font-family:arial,'helvetica neue',helvetica,sans-serif"><span style="color:rgb(0,0,0)">
                        							<%= @sub_total %><br>
													FREE*<br>
													<%= @tax %><br>
													<strong><%= @total %></strong></span></span></span></div>
												</td>
                    						</tr>
                						</tbody>
                					</table>
            						</td>
        						</tr>
    						</tbody>
							</table></td>
                    	</tr>
                	</tbody></table>
                    </td>
          		</tr>
       		</tbody></table>
			</td>
   		</tr>
        <tr>
        	<td align="center" valign="top">
            	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top-width:0px;border-bottom-width:0px;background-color:rgb(255,255,255)">
                <tbody>
                	<tr>
                		<td valign="top" style="padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    					<tbody>
        					<tr>
            					<td valign="top">
                				<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    				<tbody>
                    					<tr>
                        					<td valign="top" style="padding:9px 18px;color:rgb(96,96,96);font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                        					<div style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:small;line-height:normal;text-align:center"><span style="font-size:11px"><span style="font-family:arial,'helvetica neue',helvetica,sans-serif"><span style="color:rgb(102,102,102);line-height:normal">
                        						Shipping is on us this time!</span></span></span><span style="color:rgb(102,102,102);font-family:arial,'helvetica neue',helvetica,sans-serif;font-size:11px">
                        						<br>Note: Dote Shopping is what will appear on your card statement.&nbsp;</span></div><span>
											<div style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:small;line-height:normal;text-align:center"><span style="font-size:11px"><span style="font-family:arial,'helvetica neue',helvetica,sans-serif"><font color="#666666">
												Questions? Please refer to our <a href="http://www.doteshopping.com/shopping-faqs/" style="color:rgb(17,85,204);word-wrap:break-word;font-weight:normal;text-decoration:underline" target="_blank">FAQs</a> or&nbsp;reply to this email.</font>
												</span></span></div></span></td></tr></tbody></table></td></tr></tbody></table><span><span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse"><tbody><tr><td valign="top"><table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse"><tbody><tr><td valign="top" style="padding:9px 18px;color:rgb(96,96,96);font-family:Helvetica;font-size:11px;line-height:125%;text-align:left"><div style="text-align:center"><span style="color:rgb(128,128,128)"><span style="font-size:10px"><span style="font-family:arial,'helvetica neue',helvetica,sans-serif"><span style="line-height:22.5px;text-align:center"><em>
													Copyright © 2015 Dote, All rights reserved.</em></span><span style="line-height:13.75px;text-align:center"> 480 2nd Street,</span><span style="line-height:13.75px;text-align:center">San Francisco</span><span style="line-height:13.75px;text-align:center">,&nbsp;</span><span style="line-height:13.75px;text-align:center">CA,&nbsp;94109, U.S.</span></span></span></span></div>
											</td>
                    					</tr>
                					</tbody>
                				</table>
            					</td>
        					</tr>
    					</tbody>
					</table></span></span></td>
                	</tr>
                </tbody></table>
        	</td>
		</tr>
	</tbody>
</table>