<%= form_for new_admin_store_item_path(@store, @item), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :store_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :store_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :msrp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :msrp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :import_key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :import_key, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_store_items_path, :class => 'btn' %>
  </div>
<% end %>
