<%= form_tag admin_update_settings_path, :html => { :class => 'form-horizontal' } %>

  <div class="control-group">
    <%= label_tag :batch_time, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :batch_time, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_stores_path, :class => 'btn' %>
  </div>
<% end %>